body {
font: bold 16px "Trebuchet MS",sans-serif;
}
h1 {
font-size:48px;
margin:10px 0;
}
h2 {
font-size:24px;
margin:10px 0;
}


/* SIDEBAR */
#sidebar {
position:fixed;
top:0;
left:0;
bottom:0;
width:300px;
border-right:1px solid #ddd;
padding:6px;
}
ul {
list-style-type:none;
padding:0px;
margin:0px;
}
ul li {
border-top:1px solid #ddd;
padding:6px 0;
overflow:ellipsis;
cursor:pointer;
}
ul li:hover, ul li.current {
background:#eee;
}


/* content */
#content {
margin-left:306px;
padding:6px;
}
label {
display:none; /* start hidden */
margin-right: 5px;
color: #448;
}
#body {
margin:10px 0;
}
