/**
 * Styles for the Scramble FAQ and other online docs.
 */

body {
    font-family: "Arial",sans-serif;
    overflow-y: scroll;
}
h1, h2, h3 {
    font-weight: bold;
    margin: 10px 0;
}
h1 {
    font-size: 48px
}
h2 {
    font-size: 24px
}
h3 {
    font-size: 16px
}
a, a:visited, a:hover {
    color: #03a;
    text-decoration: none;
}
#wrapper {
    min-width: 840px;
    min-height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
