:focus
  outline none !important

.invis-input
  background transparent
  border none
  margin none
  padding-left 0
  // height 100%
  width 100%

.invis-input-group
  background transparent
  border none
  margin none
  height 100%
  width 100%
  *
    border none

.lead
  margin-bottom 0 !important
  padding-bottom $line-height-computed !important

.uppercase
  text-transform uppercase

.capitalize
  text-transform capitalize

.sidebar
  position fixed
  overflow scroll

.main-panel
  overflow hidden
  max-height 100%