/* EVERYWHERE */
body {
font-family: "Arial",sans-serif;
}
h1,h2,h3 {
font-weight:bold;
margin:10px 0;
}
h1 {
font-size:48px;
}
h2 {
font-size:24px;
}
h3 {
font-size:16px;
}
a, 
a:visited,
a:hover {
color:#03a;
text-decoration:none;
}
#statusBar {
position:absolute;
top:12px;
left:320px;
color:#03a;
}
#content {
position:absolute;
left:312px;
top:20px;
right:0px;
padding:8px;
}
#wrapper {
min-width:840px;
min-height:600px;
position:absolute;
top:0px;
left:0px;
bottom:0px;
right:0px;
}



/* FORMS */
.prompt {
margin:3px 0;
}
input[type=password], input[type=text] {
width:200px;
border:1px solid #ccc;
}
textarea {
border:1px solid #ccc;
}
label {
display:inline-block;
width:140px;
margin:0 10px 0 0;
text-align:right;
}
input[type=submit] {
width:70px;
height:24px;
font-size: 14px;
color:#03a;
}
.hint {
font-size:9px;
}



/* LOGIN FORM */
#login {
width:460px;
margin:100px auto;
}
#login h1 {
margin-left:150px;
}

#login .strike {
text-align:center;
font-style:italic;
margin:10px 0;
}
#login .strike hr {
position:relative;
top:4px;
display:inline-block;
width:150px;
height:1px;
background-color:#ccc;
border:none;
}
#login .strike span {
margin:4px;
}
#login input[type=submit] {
margin-left:150px;
width:160px;
}
#login .footer {
margin-top:10px;
text-align:center;
font-size:10px;
}



/* MODAL */
.modal-bg {
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
background-color:rgba(0,0,0,0.5);
transition: background-color 400ms ease-in;
}
.modal {
background:#fff;
margin:100px auto;
text-align:center;
border-radius:3px;
}
.modal h3 {
margin:0;
padding:40px 0 10px 0;
}
.modal section {
text-align:left;
}
.modal .link-close-modal {
display:block;
margin:10px;
}

/* MODAL - CREATE ACCOUNT */
#createAccountModal {
width:600px;
height:480px;
}
#createAccountModal #createForm {
display:none; /* show later, in js... */
margin:30px 50px;
}
#createAccountModal input[type=submit] {
margin-left:150px;
width:160px;
}
#createAccountModal label {
white-space:nowrap;
}
#createAccountModal input[type=submit] {
width:160px;
}

/* MODAL - KEYBOARD SHORTCUTS */
#kbShortcutsModal {
width:400px;
height:360px;
}
#kbShortcutsModal label {
font:bold 14px monospace;
}



/* SIDEBAR */
#sidebar {
position:absolute;
top:0;
left:0;
bottom:0;
width:300px;
border-right:1px solid #ddd;
padding:6px;
}
#sidebar .warning {
color:red;
}
#sidebar .welcome {
margin:8px 0;
font-weight:bold;
}
#sidebar .email {
font:9px monospace;
margin:8px 0;
}
#sidebar .tab {
display:block;
font-size:24px;
font-weight:bold;
margin:3px 0;
color:#03a;
}
#sidebar .tab.selected {
color:#000;
}



/* INBOX */
.box {
list-style-type:none;
padding:0px;
margin:0px;
}
.box li {
border-top:1px solid #ddd;
padding:6px 0;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
cursor:pointer;
}
.box li:hover, .box li.current {
background:#eee;
}



/* SINGLE EMAIL */
#content.email .to {
vertical-align:text-top;
display:inline-block;
}
#content.email pre {
margin:10px 0;
white-space:pre-wrap;
}
#content.email .replyForwardButtons {
margin:10px 0;
}
#archiveButton,#moveToInboxButton {
margin:0 10px;
}



/* COMPOSE */
#content.compose {
bottom:0px;
}
#content.compose label {
width:100px;
}
#content.compose .prompt input {
width:400px;
}
#content.compose textarea {
width:600px;
height:400px;
margin:8px;
background:#f8f8f8;
}
#sendButton {
display:block;
margin:8px;
}



/* CONTACTS */
#content.contacts ul {
list-style-type:none;
padding:0px;
margin:6px 0;
width:600px;
}
#content.contacts li {
cursor:pointer;
height:30px;
}
#content.contacts li input {
display:inline-block;
font-family:monospace;
width:250px;
margin:3px 3px 3px 0;
padding:3px;
}

