
/*
 * PAGE
 */
body {
    overflow-y:scroll;
}
.deemphasize,.still-decrypting {
    color:#888;
}
.active .deemphasize,.active .still-decrypting {
    color:#ddd;
}



/*
 * LOGIN 
 */
.form-signin {
    margin-top:40px;
    max-width:400px;
}
.logo-img {
    width:50px;
    height:50px;
}
.strike span {
    position:relative;
    top:-30px;
    background:white;
    font-style:italic;
    padding:8px;
}




/*
 * INBOX
 */
.js-item.js-unread {
    font-weight:bold;
}
.js-item .js-subject {
    display:inline-block;
    width: 250px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    vertical-align:bottom;
}
.js-item .js-date {
    display:inline-block;
    width: 130px;
    white-space:nowrap;
    text-align:right;
}
.email-body {
    white-space:pre-wrap;
    font:12px Consolas,monospace;
}
.email-body:before,.email-body:after {
    white-space:normal;
}




/*
 * COMPOSE
 */
.compose-form .to-label, .compose-form .to {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.compose-form .body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width:0;
    width:870px;
}



/*
 * CONTACTS
 */
.contact-detail {
    max-width:550px;
}
.contact-key {
    font:11px Consolas,monospace;
    color:#888;
    white-space:pre;
}

