/* EVERYWHERE */
body {
font-family: "Trebuchet MS",sans-serif;
}
h1,h2,h3 {
font-weight:bold;
margin:10px 0;
}
h1 {
font-size:48px;
}
h2 {
font-size:24px;
}
h3 {
font-size:16px;
}
a, 
a:visited,
a:hover {
color:#03a;
text-decoration:none;
}
#content {
position:absolute;
left:312px;
top:0px;
right:0px;
padding:8px;
}
#wrapper {
min-width:840px;
min-height:400px;
position:absolute;
top:0px;
left:0px;
bottom:0px;
right:0px;
}



/* FORMS */
input[type=password], input[type=text] {
width:200px;
border:1px solid #ccc;
}
textarea {
border:1px solid #ccc;
}
label {
display:inline-block;
width:140px;
margin:0 10px 0 0;
text-align:right;
}
input[type=submit] {
width:70px;
height:24px;
font: 14px "Trebuchet MS",sans-serif;
color:#03a;
}



/* LOGIN FORM */
#login {
width:460px;
margin:100px auto;
}
#login h1 {
margin-left:150px;
}

#login .strike {
text-align:center;
font-style:italic;
margin:10px 0;
}
#login .strike hr {
position:relative;
top:4px;
display:inline-block;
width:150px;
height:1px;
background-color:#ccc;
border:none;
}
#login .strike span {
margin:4px;
}
#login input[type=submit] {
margin-left:150px;
width:160px;
}
#login label {
white-space:nowrap;
}


/* MODAL */
.modal-bg {
position:fixed;
top:0;
right:0;
bottom:0;
left:0;
background:#000;
opacity:0.5;
transition: opacity 400ms ease-in;
}
.modal {
background:#fff;
margin:100px auto;
text-align:center;
border-radius:3px;
}
.modal h3 {
margin:0;
padding:40px 0 10px 0;
}
.modal section {
text-align:left;
}
.modal .link-close-modal {
display:block;
margin:10px;
}

/* MODAL - CREATE ACCOUNT */
#createAccountModal {
width:600px;
height:450px;
}
#createAccountModal #createForm {
display:none; /* show later, in js... */
margin:50px;
}

/* MODAL - KEYBOARD SHORTCUTS */
#kbShortcutsModal {
width:400px;
height:360px;
}
#kbShortcutsModal label {
font:bold 14px monospace;
}



/* SIDEBAR */
#sidebar {
position:absolute;
top:0;
left:0;
bottom:0;
width:300px;
border-right:1px solid #ddd;
padding:6px;
}
#sidebar .welcome {
margin:8px 0;
font-weight:bold;
}
#sidebar .email {
font:9px monospace;
margin:8px 0;
}
#sidebar .tab {
color:#03a;
}
#sidebar .tab.selected {
color:#000;
}
#sidebar #link-kb-shortcuts {
font-size:9px;
}



/* INBOX */
#inbox {
list-style-type:none;
padding:0px;
margin:0px;
}
#inbox li {
border-top:1px solid #ddd;
padding:6px 0;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
cursor:pointer;
}
#inbox li:hover, ul li.current {
background:#eee;
}




/* SINGLE EMAIL */
#content.email pre {
margin:10px 0;
white-space:pre-wrap;
}
#content.email .replyForwardButtons {
margin:10px 0;
}




/* COMPOSE */
#content.compose {
bottom:0px;
}
#content.compose label {
width:100px;
}
#content.compose .prompt input {
width:400px;
}
#content.compose textarea {
position:absolute;
top:60px;
bottom:40px;
left:8px;
right:8px;
margin:0;
background:#f8f8f8;
}
#sendButton {
position:absolute;
left:8px;
bottom:8px;
}

