/* EVERYWHERE */
body {
font: 16px "Trebuchet MS",sans-serif;
}
h1,h2,h3 {
font-weight:bold;
}
h1 {
font-size:48px;
margin:10px 0;
}
h2 {
font-size:24px;
margin:10px 0;
}



/* FORMS */
input[type=password], input[type=text] {
width:200px;
border:1px solid #ccc;
}
textarea {
border:1px solid #ccc;
}
input[type=submit] {
width:70px;
height:24px;
font: 14px "Trebuchet MS",sans-serif;
color:#03a;
}
label {
display:inline-block;
width:140px;
margin:0 10px 0 0;
text-align:right;
}



/* LOGIN FORM */
#login {
width:460px;
margin:100px auto;
white-space:nowrap;
}
#login form {
margin:10px 0;
}
#login h1 {
margin-left:150px;
}

#login .strike {
text-align:center;
font-style:italic;
}
#login .strike hr {
position:relative;
top:4px;
display:inline-block;
width:150px;
height:1px;
background-color:#ccc;
border:none;
}
#login .strike span {
margin:4px;
}



/* INBOX */
#content {
position:absolute;
left:306px;
top:0px;
right:0px;
padding:6px;
}



/* SIDEBAR */
#sidebar {
position:fixed;
top:0;
left:0;
bottom:0;
width:300px;
border-right:1px solid #ddd;
padding:6px;
}
#sidebar ul {
list-style-type:none;
padding:0px;
margin:0px;
}
#sidebar ul li {
border-top:1px solid #ddd;
padding:6px 0;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
cursor:pointer;
}
#sidebar ul li:hover, ul li.current {
background:#eee;
}
#sidebar a, 
#sidebar a:visited,
#sidebar a:hover {
color:#03a;
text-decoration:none;
}



/* COMPOSE */
#content.compose {
bottom:0px;
}
#content.compose input[type=submit]{
margin-left:150px;
}
textarea {
position:absolute;
top:90px;
left:16px;
right:8px;
bottom:8px;
background:#f8f8f8;
}
