<div id="sidebar">
<h1>SCRAMBLE</h1>
<h2><a href='compose'>Compose</a></h2>
<h2 class="selected">Inbox</h2>
<ul>
{{range .}}
<li data-from="{{.From}}" data-to="{{.To}}" data-id="{{.ID}}">{{.Subject}}</li>
{{end}}
</ul>
</div>

<div id="content">
<h2 id="subject"></h2>
<div><label for="from">From</label><span id="from"></span></div>
<div><label for="to">To</label><span id="to"></span></div>
<div id="body"></div>
</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript" src="openpgp.js"></script>
<script type="text/javascript" src="app.js"></script>

