<div id="login">
<h1>SCRAMBLE</h1>

<form id="loginForm" method="post" action="/login" onsubmit="return login(this);">
    <div><label>User</label><input type="text" name="token"></input></div>
    <div><label>Passphrase</label><input type="password" name="pass"></input>
        <input type="submit" name="enterButton" value="Enter"></input></div>

    <input type="hidden" name="passHash"></input>
</form>

<div class="strike"><hr /><span>or</span><hr /></div>

<form id="createForm" method="post" action="/user/" onsubmit="return create(this);">
    <div><label>Confirm passphrase</label><input type="password" name="confirmPass"></input>
    <input type="submit" name="createButton" value="Create"></input></div>

    <input type="hidden" name="token"></input>
    <input type="hidden" name="passHash"></input>
    <input type="hidden" name="publicKey"></input>
    <input type="hidden" name="cipherPrivateKey"></input>
</form>

</div>
