//
//
// Color Me SASS v1.0
// Built and Designed by Richard Bray
//
//

	@import "colors/reds";
	@import "colors/peaches";
	@import "colors/tans";
	@import "colors/oranges";
	@import "colors/ambers";
	@import "colors/yellows";
	@import "colors/limes";
	@import "colors/greens";
	@import "colors/turquoise";
	@import "colors/blues";
	@import "colors/purples";
	@import "colors/pinks";
	@import "colors/browns";
	@import "colors/whites";
	@import "colors/grays";

	@import "colors/bootstrap"; //Colour varialbles from twitter bootstrap
